*{
    margin: 0;
    padding: 0;
}
:root {
    --primary-coloer: #B91C1C;
    --off-white: #fff;
    --dark-gray: hsl(120, 4%, 5%);
}


.OutputShow{
   color: black;
   font-size: x-large;
   font: bold;
   margin-top: 5rem;
}
body{
    margin-bottom: 5rem;

    /* color: white; */
    padding: 200px;
    border-bottom-left-radius: 3rem;
    /* background-color: var(--primary-coloer); */
    background-image: url(background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: 70%;

} 
a,
img {
    width: 30px;
    margin-left: 4px;
    margin-top: 1px;
    margin-right: 3px;

    
}



.footer-header{
   color:white;

}
footer {
    margin-top: 10rem;
   

   background-origin: padding-box;
   color: wheat;
   font-size: large;
   margin-top: 20rem;
   padding: 3rem;
   border-bottom-left-radius: 1rem;
   background-color: var(--primary-coloer);

}

.input-palinrome {
    /* margin-bottom: 0rem; */
    font-size: 14px;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-coloer);
    border-radius: 0.5rem;
    width: 40%;
    height: 80%;
    text-align: center;
    margin: auto;
    font-size: 20px;
    background-color: var(--off-white);
}

.input {
    font-size: 13px;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-coloer);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
 
 } 
 

h1 {
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 2rem;
    /* margin-top: 2rem; */
    color:black;
}

.Output {
    text-align: center;
    margin-top: 1rem;
    
}
.button {
    background-color: var(--primary-coloer);
    color: white;
    padding: 0.7rem 2rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: 1rem auto;
    display: flex;
    margin-top: 1rem;

}


